footer {
    text-align: center;
    color: #fff;
}
.footerBody {
    background-image: url(../images/footer/footer.svg);
}
.footerLogo {
    width: 30vw;
    margin: 3vw 0;
}
.footerText {
    margin: 3vw 0;
}

.contactButton {
    width: 30vw;
    font-size: 3vw;
    line-height: 3;
}

/* sns icon */
.fas_sns_circlecolor{
    display: flex;
    justify-content: center;
}
.fas_sns_circlecolor li{
	margin: 0 3.5vw;
}
.fas_sns_circlecolor li a{
    display: inline-block;
	border-radius: 4.17vw;
}
.fas_sns_circlecolor li a i{
	display: flex;
	width: 8.3vw;
	height: 8.3vw;	
	font-size: 5vw;
	justify-content: center;
	align-items: center;	
}
.fas_sns_circlecolor li:nth-child(1) a{
    background: #1E3050;
}
.fas_sns_circlecolor li:nth-child(2) a{
    background: #33cc33;
} /* sns icon */

/* copylight */
.copyLight{
    line-height: normal;
    margin-top: 3vw;
    background-color: #075228;
}