footer {
    margin-top: 10vw;
    padding-top: 12vw;
    text-align: center;
    color: #fff;
    background-image: url(../images/footer.svg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.footerLine {
    width: 100vw;
}
.footerLogo {
    width: 30vw;
    margin-bottom: 3vw;
}
.footerText {
    margin: 3vw 0;
}

.contactButton {
    width: 30vw;
    font-size: 3.5vw;
    line-height: 3;
}

/* footer > sns icon */
.fas_sns_circlecolor{
    display: flex;
    justify-content: center;
}
.fas_sns_circlecolor li{
	list-style: none;
	margin: 0 3.5vw;
}
.fas_sns_circlecolor li a{
	text-decoration: none;
	display: inline-block;
	background: #333;
	border-radius: 4.17vw;
}
.fas_sns_circlecolor li a i{
	display: inline-block;
	width: 8.3vw;
	height: 8.3vw;	
	color: #fff;
	font-size: 5vw;
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
	justify-content: center;
	align-items: center;	
}
.fas_sns_circlecolor li:nth-child(1) a{
    background: #66ccff;
}
.fas_sns_circlecolor li:nth-child(2) a{
    background: #33cc33;
}
.copyLight{
    line-height: normal;
    margin-top: 3vw;
    background-color: var(--subAccent);
}

@media screen and ( min-width:600px )
{
    footer {
        margin-top: 30px;
        padding-top: 10vw;
        background-image: url(../images/footer.svg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .footerLine {
        width: 100vw;
    }
    .footerLogo {
        width: 15vw;
        margin-bottom: 1.5vw;
    }
    .footerText {
        margin: 1.5vw 0;
    }
    
    .contactButton {
        width: 15vw;
        font-size: 1vw;
        line-height: 3;
    }
}