.hamburgerWrap {
    height: 100vh;
    font-weight: bold;
    color: #fff;
    background-color: var(--subColor);
    margin-right: 10vw;
}
.hamburgerTop {
    display: flex;
    height: 20vw;
    text-align: center;
    align-items: center;
    background: var(--subAccent);
}
.hamburgerLogo {
    width: 80vw;
}
.hamburgerLogoIcon {
    height: 14vw;
}
.close {
    width: 20vw;
}
.closeIcon {
    height: 14vw;
}
.naviList {
    display: block;
    padding: 4vw;
    text-align: left;;
    font-size: var(--fontsizeNormal);
}

/* リストのスタイル */
.naviList ul li {
    margin: 4vw 4vw 0 4vw;
    line-height: 1.6em;
}
.naviList ul ul li {
    font-size: 0.9em;
    margin: 1vw;
}

.naviList ul ul li::before {
    content: '　　';
}

/* drawer の動き */
#navi {
    position: fixed;
    right: -100vw;
    top: 0;
    width: 100vw;
    height: 100%;
}
.show {
    transform: translate3d(-90vw, 0, 0);
}
.wrapper, #navi {
    transition: transform 0.5s;
}

@media screen and ( min-width:600px )
{
    .hamburgerWrap {
        margin-right: 0vw;
    }
    .hamburgerTop {
        height: 8vw;
    }
    .hamburgerLogoIcon {
        height: 6vw;
    }
    .closeIcon {
        height: 4vw;
    }
    .naviList {
        padding: 2vw;
    }
    /* リストのスタイル */
    .naviList ul li {
        margin: 2vw 2vw 0 2vw;
        line-height: 1.6em;
    }
    .naviList ul ul li {
        font-size: 1em;
        margin: 1vw;
    }
    /* drawer の動き */
    #navi {
    position: fixed;
    right: -30vw;
    top: 0;
    width: 30vw;
    height: 100%;
    }
    .show {
        transform: translate3d(-30vw, 0, 0);
    }
    .wrapper, #navi {
        transition: transform 0.5s;
    }
}