.headerLogo {
    display: block;
    width: 50vw;
    height: 26vw;
    margin: 0 auto;
}
.menuWraper {
    display: flex;
    background-color: var(--mainColor);
}
.menuButton{
    width: 20vw;
    text-align: center;
}
.menuButtonIcon {
    width: 15vw;
    margin: 2.5vw;
}
.menuButtonText {
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2vw;
}

/* 1,280px〜5,120px 想定 */

@media screen and ( min-width:1000px ) {
    .headerLogo {
        width: 12vw;
        height: 6vw;
        margin: 0 auto;
    }
    .menuWraper {
        display: flex;
        height: 6vw;
        background-color: var(--mainColor);
    }
    .menuButton{
        display: flex;
        align-items: center;
        width: 20vw;
    } 
    .menuButton a {
        display: flex;
        align-items: center;
    }
    .menuButtonIcon {
        height: 5vw;
        width: 5vw;
        margin: 0 1vw 0 2vw;
    }
    .menuButtonText {
        font-weight: bold;
        color: #fff;
        font-size: 1.5em;
        margin: 0;
    }
}
